* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.card__container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__item {
  background-color: #283e50;
  display: flex;
  flex-direction: column;  
  align-items: center;
  width: 40%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card__image {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card__heading,
.game__heading {
  font-family: "Lobster";
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.card__description {
  color: #ffffff;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
}

.card__btn {
  color: white;
  background-color: #1fcca4;
  cursor: pointer;
  height: 3rem;
  border: none;
  width: 100%;
  font-size: 15px;
}

.card__btn:hover {
  background-color: #1cbb96;
}

.card__btn--play {
  background-color: #0197f6;
  border-top: 0.1rem solid black;
}

.card__btn--play:hover {
  background-color: #0090e9;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.game__container {
  display: flex;
  justify-content: center;
}

.game__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.game__player {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game__cross {
  background-image: url(icons/cross.svg);
  background-size: cover;
}

.game__player p {
  color: white;
  margin-right: 5px;
}

.game__field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80vmin;
}

.game__btn {
  width: calc(8vmin);
  height: calc(8vmin);
  border: 1px solid black;
  background-color:#e6d1d1;
  cursor: pointer;
}

.game__btn:hover,
.game__btn:focus {
  opacity: 0.7;
}

.game__icons img {
position: relative;
top: 7px;
left: 8px;
}

.game__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #1fcca4;
  border-radius: 10%;
}

.game__icon:hover {
  background-color: #1cbb96;
}

.game__icon--restart {
  background-color: #0197f6;
}

.game__icon--restart:hover {
  background-color: #0090e9;
}

.board__field--circle {
  background-image: url(icons/circle-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.board__field--cross{
  background-image: url(icons/cross-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

